.spa-text-white {
    color: #FDFFFC;
}

.spa-text-light {
    color: #26a69a;
}

.spa-bg-dark {
    background-color: #011627;
}

.q-page-container {
    background-color: #FDFFFC;
    max-width: 1400px;
    margin: auto;
    transition: 0.2s;
    padding-bottom: 0 !important;
}

.q-page {
    min-height: 0 !important;
    padding: 25px;
}

p.spa-page-title {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
}

p.spa-title {
    font-size: 22px;
    color: #2EC4B6;
}

p.spa-content-text {
    font-size: 14px;
}

@media (max-width: 768px) {
     h1 {
        font-size: 26px;
    }
}
